@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
  overflow-x: hidden;
  background-color: #fffffe;
  padding-bottom: 120px;
}

header {
  height: 90px;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header a {
  height: 70px;
}
header img {
  height: 100%;
  width: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
  overflow-x: hidden;
}
main h2 {
  font-size: 2rem;
}

#hero {
  padding: 20px 20px 0px 20px;
  text-align: center;
}
#hero h1 {
  font-size: 3rem;
  color: #e68124;
  margin-bottom: 0;
}
#hero h3 {
  margin-bottom: 40px;
  font-weight: 500;
}

.card-slider {
  position: relative;
}
.card-slider .nav {
  display: none;
}
.card-slider h2 {
  text-align: center;
  color: #e68124;
}
.card-slider .card-cont {
  overflow-x: hidden;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}
.card-slider .cards {
  display: flex;
  justify-content: flex-start;
  padding: 30px 20px 40px;
  gap: 40px;
  max-width: 100%;
  position: relative;
  transition: left 0.25s ease-out;
}
.card-slider .card {
  width: 30%;
  border-radius: 12px;
  max-width: 350px;
  min-width: 250px;
  height: 100%;
  min-height: 100%;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.1843137255);
  background-color: #fffffe;
  transition: scale 0.15s linear;
  padding-bottom: 10px;
  overflow: hidden;
  text-decoration: none;
}
.card-slider .card:hover {
  cursor: pointer;
  scale: 1.1;
}
.card-slider .card .preview {
  width: 100%;
  height: 40%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-slider .card h4 {
  color: #e68124;
  height: 30px;
  margin-inline: 20px;
}
.card-slider .card p {
  color: #a7a9be;
  margin-inline: 20px;
}
.card-slider:last-child {
  margin-top: 50px;
}

footer {
  min-height: 300px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background-color: #e68124;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  color: #fff;
  z-index: 1;
}
footer a {
  text-decoration: none;
  color: #0f0f0f;
  cursor: pointer;
  z-index: 5;
}
footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 980px) {
  .cards {
    left: 0%;
  }
}
@media screen and (max-width: 980px) {
  .card-cont {
    max-width: 70vw !important;
  }
  .card-cont .cards {
    gap: calc(100% - 250px) !important;
    padding-inline: 0px !important;
    left: calc((100% - 250px) / 2);
  }
  .nav {
    fill: rgba(0, 0, 0, 0.2509803922);
    display: block !important;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transition: fill 0.15s linear;
  }
  .nav:hover {
    fill: #000;
  }
  .nav:nth-child(2n) {
    right: -40px;
  }
  .nav:nth-child(2n+1) {
    left: -40px;
  }
}
@media screen and (min-width: 750px) {
  .nav:nth-child(2n) {
    right: -50px;
  }
  .nav:nth-child(2n+1) {
    left: -50px;
  }
}
@media screen and (max-width: 320px) {
  header img {
    width: 90vw;
    height: auto;
  }
  .card-cont {
    max-width: 90vw !important;
  }
  .nav {
    top: 60%;
  }
  .nav:nth-child(2n) {
    right: -25px;
  }
  .nav:nth-child(2n+1) {
    left: -25px;
  }
}
/*

    &::after{
        content: "";
        width: 5%;
        height: 74.3%;
        position: absolute;
        bottom: 40px;
        right: 0;
        background-image: linear-gradient(-90deg, #00000030, #ffffff20);
    }

    &::before{
        content: "";
        width: 5%;
        height: 74.3%;
        position: absolute;
        bottom: 40px;
        left: 0;
        background-image: linear-gradient(90deg, #00000030, #ffffff20);
    }
*//*# sourceMappingURL=style.css.map */